<h1>New Device</h1>

<%= form_for :device, url: server_devices_path do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
 
<p>
  <%= f.label :type %><br>
  <%= f.text_field :type %>
</p>
 
<p>
  <%= f.label :state %><br>
  <%= f.text_field :state %>
</p>
 
<p>
  <%= f.label :server %><br>
  <%= f.collection_select(:server_id, Server.all, :id, :name) %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>